!!! 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='ID=edge,chrome=1')
    title CatMap
    meta(
      name="description",
      content="A map with cats.",
      name='viewport',
      content='width=device-width',
      initial-scale='1.0',
      user-scalable='0',
      minimum-scale='1.0',
      maximum-scale='1.0'
    )

    // Place favicon.ico and apple-touch-icon.png in 
    // the root directory: mathiasbynens.be/notes/touch-icons

    script.
      // Enable Brunch HTML/CSS Auto Reload
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = { enabled: true };

    script(src="/javascripts/modernizr.js")

    link(rel='stylesheet', href="/stylesheets/app.css")
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css")

  body.application
    block content

    script(src="javascripts/vendor.js")
    script(src="javascripts/app.js")
    script.
      require('initialize');

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
